.marginTop {
  margin-top: 60px;
}

.widthCont {
  width: 32%;
}

.imgWidth {
  width: 7%;
  height: fit-content;
}

.letterSpa {
  letter-spacing: 2px;
}

/* Input and button */
.iandbH {
  height: 50px;
}
