
#navbar{
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
   
  
}
img{
    height: 35px;
    margin-top: 1.2%;
    margin-left: 2%;
}
hr{
    background-color: #3c94c3;
    height: 2.5px;
    
}
*{
    padding: 0;
    margin: 0;
}
.innav{
    text-align: center;
    margin-top: -2.5%;
    margin-left: 45%;
}
.innav ul{
    display: inline-flex;
    list-style: none;
    color: #3c94c3;
}
.innav ul li{
    width:130px ;
    color: #3c94c3;
   

}
.cs{
    border:1px solid #3c94c3;
    margin-left: 6px;
}
.vr{
    color: grey;

}
a{
    color: #3c94c3;
    border-bottom: none;
}
.innav ul li a{
    text-decoration: none;
}
.pro,.innav ul :hover
 {
    text-decoration: underline;
border-bottom: #3c94c3;

}
.sub1{
    display: none;
}
.innav ul li:hover .sub1{
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: -19px;
    color: white;
    text-decoration: none;
}
.innav ul li:hover .sub1 ul{
    display: block;
    margin: 10px;
    color: white;
    
}
.innav ul li:hover .sub1 ul li{
    width: 140px;
    padding: 5px;
   
  
    background: rgb(207, 210, 212);
    text-align: center;
    color: white;
}

